# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/

# Jupyter  
.ipynb_checkpoints/
.jupyter/

# IDEs
.vscode/
.idea/

# Virtual Environment
.env
.venv/
venv/

# FastAPI
instance/
*.log

# SQLite - APENAS o banco  
delivery_fastapi/*.db
delivery_fastapi/*.sqlite3